In [242]:
import numpy as np
import pandas as pd

In [243]:
boylar = pd.DataFrame([88,132,134,137,139,142,142,144,147,148,149,149,150,207,224])
boylar

      0
0    88
1   132
2   134
3   137
4   139
5   142
6   142
7   144
8   147
9   148
10  149
11  149
12  150
13  207
14  224

In [244]:
boylar.describe().T

   count   mean        std   min    25%    50%    75%    max
0   15.0  148.8  31.163623  88.0  138.0  144.0  149.0  224.0

In [245]:
boylar.std()

0    31.163623
dtype: float64

In [246]:
boylar.median()

0    144.0
dtype: float64

In [247]:
boylar.mode()

     0
0  142
1  149

In [248]:
boylar.columns=["boy"]

In [249]:
Q1 = boylar.boy.quantile(.25)
Q1

138.0

In [250]:
Q3 = boylar.boy.quantile(0.75)
Q3

149.0

In [251]:
IQR=Q3-Q1
print(IQR)

11.0

In [252]:
upperLimit = Q3+1.5*IQR
upperLimit

165.5

In [253]:
lowerLimit = Q1 -1.5*IQR
lowerLimit

121.5

In [254]:
boylar[(boylar["boy"]>upperLimit ) | (boylar["boy"]<lowerLimit)]

    boy
0    88
13  207
14  224

In [255]:
boylar.boy

0      88
1     132
2     134
3     137
4     139
5     142
6     142
7     144
8     147
9     148
10    149
11    149
12    150
13    207
14    224
Name: boy, dtype: int64

In [267]:
boylar_filtreli=boylar[~((boylar["boy"]>upperLimit ) | (boylar["boy"]<lowerLimit))].reset_index(drop=True)

In [268]:
boylar_filtreli

    boy
0   132
1   134
2   137
3   139
4   142
5   142
6   144
7   147
8   148
9   149
10  149
11  150