In [4]:
import numpy as np 
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

df = pd.read_csv("DecisionTreesClassificationDataSet.csv")

In [5]:
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

In [6]:
duzeltme_mapping={'Y': 1,'N': 0}
duzeltme_mapping_egitim={'BS': 0,'MS': 1,'PhD': 2}
df["SuanCalisiyor?"] = df["SuanCalisiyor?"].map(duzeltme_mapping)
df["Top10 Universite?"] = df["Top10 Universite?"].map(duzeltme_mapping)
df["StajBizdeYaptimi?"] = df["StajBizdeYaptimi?"].map(duzeltme_mapping)
df["IseAlindi"] = df["IseAlindi"].map(duzeltme_mapping)
df["Egitim Seviyesi"] = df["Egitim Seviyesi"].map(duzeltme_mapping_egitim)

In [8]:
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

In [9]:
y = df["IseAlindi"]
X = df.drop(["IseAlindi"],axis=1)

### Random Forest oluşturuyoruz :
*200 tane desicion tree bireşiminden oluşan bir Random Forest kullanarak tahmin yapacağız :*

In [15]:
rnd_fr_clf = RandomForestClassifier(n_estimators=200,random_state=55)
rnd_fr_clf.fit(X,y)                                  
# genellikle desicion tree sayısı 100'ün katları şeklinde olur.
# veri seti büyükse 10 katları  da kullanılabiiir.

RandomForestClassifier()

In [16]:
print(rnd_fr_clf.predict([[5,1,3,0,0,0]]))

[1]

In [17]:
print(rnd_fr_clf.predict([[2,0,7,0,1,0]]))

[0]

In [21]:
lst = [[2,1,7,0,0,0],[20,0,5,1,1,1]]

In [23]:
print(rnd_fr_clf.predict(lst))

[1 1]